<!doctype html>
<html>
<head>
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type='text/javascript'></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="utf-8">
    <title>Bpo Utility Report Builder</title>

    <!-- chartsjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <!-- vue-chartsjs -->
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>
<body>
<v-app id="app">
    {% if summary %}
        <script type='text/javascript'>
            const SUMMARY_DATA = {{ summary|safe }};
        </script>
    {% endif %}
    <v-main>
        <v-container>
            <v-app-bar
                app
                color="deep-purple accent-4"
                dense
                dark
            >
                <v-btn icon>
                    <v-icon>mdi-robot</v-icon>
                </v-btn>
                <v-toolbar-title>[[titleDate]] Calls Summary</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn text @click="logout">Log out</v-btn>

            </v-app-bar>
            <v-row>
                <v-col>
                    <v-card
                        class="mx-auto"
                        color="deep-purple accent-4"
                        dark
                        max-width="300"
                    >
                        <v-card-title class="justify-center">
                            <span>Total calls</span>
                        </v-card-title>
                        <v-card-text class="text-h5 font-weight-bold text-center">
                            [[ callsCount ]]
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card
                        class="mx-auto"
                        color="deep-purple accent-4"
                        dark
                        max-width="300"
                    >
                        <v-card-title class="justify-center">
                            <span>Running instances</span>
                        </v-card-title>

                        <v-card-text class="text-h5 font-weight-bold text-center">
                            [[ instancesCount ]]
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6">
                    <v-card>
                        <states-chart :data="statesData" :options="statesOptions"></states-chart>
                    </v-card>
                </v-col>
                <v-col cols="6">
                    <v-card>
                        <dispositions-chart :data="dispositionsData"
                                            :options="dispositionsOptions"></dispositions-chart>
                    </v-card>
                </v-col>
            </v-row>

        </v-container>

    </v-main>
</v-app>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.js"></script>
<script>
    // vue components
    Vue.component('states-chart', {
        extends: VueChartJs.Bar,
        delimiters: ['[[', ']]'],
        props: ['data', 'options'],
        template: "",
        mounted: function () {
            this.renderChart(this.data, this.options)
        },
    });
    Vue.component('dispositions-chart', {
        extends: VueChartJs.Bar,
        delimiters: ['[[', ']]'],
        props: ['data', 'options'],
        template: "",
        mounted: function () {
            this.renderChart(this.data, this.options)
        },
    });
    // main vue instance
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            summaryData: SUMMARY_DATA,
            dispositionsOptions: {
                responsive: true,
                maintainAspectRatio: false,
                indexAxis: 'y',
                title: {
                    display: true,
                    text: 'Dispositions'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            autoSkip: false,
                        }
                    }]
                }
            },
            statesOptions: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'states calls'
                },
            }
        },
        methods: {
            async logout(){
                try {
                    axios.defaults.xsrfCookieName = 'csrftoken';
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                    const response = await axios.post('http://54.67.51.82:1337/logout/')
                    window.location.href = response.request.responseURL
                } catch(error) {
                    this.logOutError = true;
                    this.logOutErrorMsg = error.message || error;
                }
            },
        },
        computed: {
            titleDate() {
                return new Date(Date.parse(this.summaryData.summary_date)).toDateString();
            },
            callsCount() {
                return this.summaryData.calls_count || 0;
            },
            instancesCount() {
                return this.summaryData.instances_count || 0;
            },
            dispositionsData() {
                return {
                    labels: this.summaryData.dispositions_count.labels,
                    datasets: [
                        {
                            label: 'disposition',
                            backgroundColor: '#EF5350',
                            data: this.summaryData.dispositions_count.data
                        }
                    ]
                };
            },
            statesData() {
                return {
                    labels: this.summaryData.states_count.labels,
                    datasets: [
                        {
                            label: 'state',
                            backgroundColor: '#EF5350',
                            data: this.summaryData.states_count.data
                        }
                    ]
                };
            }
        }
    });
</script>
</html>