<!doctype html>
<html>
  <head>
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type='text/javascript'></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="utf-8">
    <title>Bpo Utility Report Builder</title>
  </head>

  {% if states %}
  <script type='text/javascript'>
    const STATES = {{ states|safe }};
  </script>
  {% endif %}
  {% if dispositions %}
  <script type='text/javascript'>
    const DISP = {{ dispositions|safe }};
  </script>
  {% endif %}
  {% if extensionInstances %}
  <script type='text/javascript'>
    const EXTENSION_INSTANCES = {{ extensionInstances|safe }};
  </script>
  {% endif %}
  <div id='app'>
    <v-app>
      <h1> [[ message ]] </h1>
      <v-app-bar
        app
        color="deep-purple accent-4"
        dense
        dark
      >
        <v-btn icon>
          <v-icon>mdi-robot</v-icon>
        </v-btn>
        <v-toolbar-title>[[ message ]]</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-on="on">
              <v-icon>mdi-lan-connect</v-icon>
              <span>[[ extensionInstancesCount ]]</span>
            </v-btn>
          </template>
          <span>running extension instances</span>
        </v-tooltip>

          <v-btn text @click="logout">Log out</v-btn>
      </v-app-bar>
      <v-main>
        <v-container>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-row>
              <!-- data range -->
              <v-col>
                <v-menu
                ref="startDateMenu"
                v-model="startDateMenu"
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="startDate"
                      label="Initial date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      :rules="startDateRule"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="startDate"
                    no-title
                    scrollable
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col>
                <v-menu
                ref="endDateMenu"
                v-model="endDateMenu"
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="endDate"
                      label="Final date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      :rules="endDateRule"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="endDate"
                    no-title
                    scrollable
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <!-- data range end -->
            </v-row>
            <v-row>
              <!-- conditions -->
              <v-col cols ="6">
                <v-select
                v-model="selectedStates"
                :items="states"
                item-text="name"
                item-value="abbrev"
                label="From states"
                persistent-hint
                return-object
                multiple
                chips
                ></v-select>
              </v-col>
              <v-col cols ="6">
                <v-select
                v-model="selectedDispositions"
                :items="dispositions"
                label="With these dispositions"
                persistent-hint
                return-object
                multiple
                chips
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="3"
                md="3"
              >
                <v-text-field
                  v-model="firstName"
                  :rules="firstNameRules"
                  :counter="10"
                  label="First name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="3"
                md="3"
              >
                <v-text-field
                  v-model="lastName"
                  :rules="lastNameRules"
                  :counter="10"
                  label="Last name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="3"
                md="3"
              >
                <v-text-field
                  v-model="consumerPhone"
                  :rules="phoneRules"
                  :counter="10"
                  label="Consumer phone"
                ></v-text-field>
              </v-col>
              <v-col
                cols="3"
                md="3"
              >
                <v-text-field
                  v-model="zipCode"
                  :rules="zipCodeRules"
                  :counter="5"
                  label="Zip code"
                ></v-text-field>
              </v-col>
            </v-row>
              <!-- conditions end -->
            <v-btn
              v-if="calls.length"
              :disabled="!valid"
              color="success"
              class="mr-4"
              :href="urlToCSV()"
              @click="urlToCSV()"
            >
              <v-icon left>mdi-download</v-icon>
              to CSV
            </v-btn>
            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="submit"
            >
              Submit
            </v-btn>
            <v-btn
              color="error"
              class="mr-4"
              @click="reset"
            >
              Reset Form
            </v-btn>
          </v-form>
        </v-container>
        <v-container>
          <v-row>
            <v-col
              align="center"
              cols="12"
            >
              <v-progress-circular
                indeterminate
                color="primary"
                v-if="progressBar"
              ></v-progress-circular>
              <v-divider v-if="calls.length"></v-divider>
              <v-data-table
                :headers="headers"
                :items="calls"
                :items-per-page="callsPerPage"
                class="elevation-1"
                :server-items-length="totalCalls"
                :footer-props=itemsPerPage
                v-if="calls.length"
                :options.sync="tableOptions"
              ></v-data-table>
            </v-col>
          </v-row
        </v-container>
        <v-snackbar
          v-model="getCallsErrors"
          :multi-line="true"
        >
          [[ callsError ]]
          <template v-slot:action="{ attrs }">
            <v-btn
              color="red"
              text
              v-bind="attrs"
              @click="getCallsErrors = false"
            >
            Close
            </v-btn>
          </template>
        </v-snackbar>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.js"></script>
  <script>
    var app = new Vue({
      delimiters: ["[[", "]]"],
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        logOutError: false,
        logOutErrorMsg: '',
        callsError: '',
        getCallsErrors: false,
        sortByColumn: '',
        tableOptions: {},
        currentPage: 1,
        offset: 0,
        calls: [],
        totalCalls: 0,
        callsPerPage: 10,
        progressBar: false,
        startDateMenu: false,
        endDateMenu: false,
        valid: true,
        message: "Report builder",
        startDate: '',
        endDate: '',
        selectedStates: [],
        selectedDispositions: [],
        states: STATES,
        dispositions: DISP,
        extensionInstances: EXTENSION_INSTANCES || null,
        firstName: '',
        lastName: '',
        consumerPhone: '',
        zipCode: '',
        startDateRule: [
          date => !!date || 'Initial date is required',
        ],
        endDateRule: [
          date => !!date || 'End date is required',
        ],
        headers: [
          { text: 'Id', value: 'id'},
          { text: 'First name', value: 'firstName'},
          { text: 'Last name', value: 'lastName'},
          { text: 'State', value: 'state'},
          { text: 'Zip code', value: 'zipCode'},
          { text: 'Consumer phone', value: 'consumerPhone'},
          { text: 'Consultant name', value: 'consultantName'},
          { text: 'Consultant phone', value: 'consultantPhone'},
          { text: 'Disposition', value: 'disposition'},
          { text: 'Created at', value: 'created_at'},
        ],
        itemsPerPage: {
          'items-per-page-options': [10, 20, 50, 100],
        },
      },
      watch: {
        tableOptions() {
          const { itemsPerPage, page, sortBy, sortDesc } = this.tableOptions;
          if (itemsPerPage != this.callsPerPage) {
            this.callsPerPage = itemsPerPage;
          }
          if (page != this.currentPage) {
            this.currentPage = page;
            this.offset = (page - 1) * this.callsPerPage;
          }
          if (sortBy.length) {
            this.sortByColumn = sortDesc[0] ? "-" + sortBy[0] : sortBy[0];
          }
          this.getCalls();
        }
      },
      methods: {
        async logout(){
            try {
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                const response = await axios.post('http://54.67.51.82:1337/logout/')
                window.location.href = response.request.responseURL
            } catch(error) {
                this.logOutError = true;
                this.logOutErrorMsg = error.message || error;
            }
        },
        reset() {
          this.$refs.form.reset();
          this.firstName = '';
          this.lastName = '';
          this.startDate = '';
          this.endDate = '';
          this.zipCode = '';
          this.consumerPhone = '';
          this.selectedDispositions = [];
          this.selectedStates = [];
          this.calls = [];
          this.currentPage = 1;
        },
        async submit() {
          const isFormValid = this.$refs.form.validate();
          if(isFormValid) {
            await this.getCalls();
          }
        },
        async getCalls() {
          this.progressBar = true;
          try {
            const response = await axios.get('http://54.67.51.82:1337/api/clients/', { params: this.queryParams });
            this.totalCalls = response.data.count;
            this.calls = response.data.results;
            this.progressBar = false;
          } catch(error) {
            this.getCallsErrors = true;
            this.callsError = error.message || error;
            this.progressBar = false;
          }
        },
        urlToCSV() {
          let isFormValid = false;
          if (this.$refs.form) isFormValid = this.$refs.form.validate();
          if (!isFormValid) return;
          const url = 'http://54.67.51.82:1337/api/clients/callsToCSV';
          try {
            const exportToCSV = axios.getUri({ url, params: this.queryParams });
            return exportToCSV;
          } catch(error) {
            this.getCallsErrors = true;
            this.callsError = error.message || error;
            this.progressBar = false;
          }
        },
      },
      computed: {
        queryParams() {
          const params = {
            startDate: this.startDate,
            endDate: this.endDate,
            limit: this.callsPerPage,
            offset: this.offset,
          }
          if (this.sortByColumn.length) params['ordering'] = this.sortByColumn;
          if (this.firstName.length) params["firstName"] = this.firstName;
          if (this.lastName.length) params["lastName"] = this.lastName;
          if (this.consumerPhone.length) params["consumerPhone"] = this.consumerPhone;
          if (this.selectedStates.length) {
            params["selectedStates"] = this.selectedStates.map(state => state.abbrev);
          }
          if (this.selectedDispositions.length) params["selectedDispositions"] = this.selectedDispositions;
          if (this.zipCode.length) params["zipCode"] = this.zipCode;
          return params;
        },
        firstNameRules() {
          const rules = [];
          if (this.firstName && this.firstName.length) {
            const rule = firstName => {
              return firstName.length < 10 || 'first name should have less than 10 characters';
            };
            rules.push(rule)
          }
          return rules;
        },
        lastNameRules() {
          const rules = [];
          if (this.lastName && this.lastName.length) {
            const rule = lastName => {
              return lastName.length < 10 || 'last name should have less than 10 characters';
            };
            rules.push(rule);
          }
          return rules;
        },
        phoneRules() {
          const rules = [];
          if (this.consumerPhone && this.consumerPhone.length) {
            const rule = phone => {
              const haveCharacters = /\D+/g.test(phone);
              if (this.consumerPhone.length != 10 && haveCharacters) {
                return 'Phone number should only contain digits and a length of 10';
              } else if (this.consumerPhone.length != 10 && !haveCharacters) {
                return 'Phone number should contain 10 digits';
              } else if (haveCharacters) {
                return'Phone number should only contain digits';
              }
            };
            rules.push(rule);
          }
          return rules;
        },
        zipCodeRules() {
         const rules = [];
          if (this.zipCode && this.zipCode.length) {
            const rule = zipCode => {
              const haveCharacters = /\D+/g.test(zipCode);
              if (this.zipCode.length != 5 && haveCharacters) {
                return 'Zip code should only contain digits and a length of 5';
              } else if (this.zipCode.length != 5 && !haveCharacters) {
                return 'Zip code should contain 5 digits';
              } else if (haveCharacters) {
                return 'Zip code should only contain digits';
              }
            };
            rules.push(rule);
          }
          return rules;
        },
        extensionInstancesCount() {
          return this.extensionInstances.length;
        }
      }
    });
  </script>
</html>