<!DOCTYPE html>
<html lang="eng">
<head>
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script type='text/javascript'></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="utf-8">
    <title>BPO Utility Login</title>
</head>
<body>
<v-app id="login">
    {% if login_redirect %}
        <script type='text/javascript'>
            const LOGIN_REDIRECT_URL = '{{ login_redirect|safe }}';
        </script>
    {% else %}
        <script type='text/javascript'>
            const LOGIN_REDIRECT_URL = '';
        </script>
    {% endif %}
    <v-main class="blue-grey lighten-5">
        <v-snackbar
          v-model="loginError"
          :multi-line="true"
        >
          [[ loginErrorMsg ]]
          <template v-slot:action="{ attrs }">
            <v-btn
              color="red"
              text
              v-bind="attrs"
              @click="loginError = false"
            >
          </template>
        </v-snackbar>
        <v-container
                class="main-container d-flex justify-center align-center pa-16">
            <v-row>
                <v-col class="d-flex justify-center">
                    <v-card width="350">
                        <v-row class="d-flex justify-center align-center pt-4">
                            <v-btn icon>
                                <v-icon>mdi-robot</v-icon>
                            </v-btn>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-card-title>
                                    Log In
                                </v-card-title>
                            </v-col>
                        </v-row>
                        <v-form
                                ref="form"
                                class="pa-9"
                        >
                            <script>
                                // This will be rendered by Django to get the actual string into my_token
                                const CSRF_TOKEN = "{{ csrf_token }}";
                            </script>
                            {% csrf_token %}
                            <v-text-field
                                    v-model="username"
                                    :counter="10"
                                    label="username"
                                    required
                            ></v-text-field>

                            <v-text-field
                                    v-model="password"
                                    type="password"
                                    label="password"
                                    required
                            ></v-text-field>

                            <v-btn
                                    color="success"
                                    class="mr-4"
                                    @click="submit"
                                    tile
                            >
                                login
                            </v-btn>
                        </v-form>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.4.8/dist/vuetify.js"></script>
<script>
    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#login',
        vuetify: new Vuetify(),
        data: () => ({
            loginError: false,
            loginErrorMsg: '',
            token: CSRF_TOKEN,
            username: '',
            password: '',
            loginError: false,
        }),
        methods: {
            async submit(){
                try {
                   axios.defaults.xsrfCookieName = 'csrftoken';
                   axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                   const response = await axios.post('http://54.67.51.82:1337/login/',
                       {
                         username: this.username,
                         password: this.password,
                       },
                       {
                         params: {
                           next: this.next
                         }
                       }
                    );
                   window.location.href = response.request.responseURL
                } catch(error) {
                   this.loginError = true;
                   this.loginErrorMsg = error.message || error;
                }
            }
        },
        computed: {
            next() {
                return LOGIN_REDIRECT_URL;
            }
        }
    });
</script>
<style>
   .main-container {
      height: 80%;
   }
</style>
</body>
</html>